@font-face {
    font-family: 'exo_2.0extra_light';
    src: url('Exo2.0-ExtraLight-webfont.eot');
    src: url('Exo2.0-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2.0-ExtraLight-webfont.woff') format('woff'),
         url('Exo2.0-ExtraLight-webfont.ttf') format('truetype'),
         url('Exo2.0-ExtraLight-webfont.svg#exo_2.0extra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

